In [23]:
#import required libraries
import pandas as pd
import numpy as np

# Data cleaning

In [24]:
#read data available from companies
companies = pd.read_csv("companies.csv", encoding='ISO-8859-1')
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [25]:
# Information about features of the dataset available
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [26]:
# reading data from second file; creation of dataframe
rounds2 = pd.read_csv("rounds2.csv", encoding='ISO-8859-1')
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [27]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [28]:
# Converting the Permalink to lowercase in both dataframes in order to check the unique count of companies -> strip the spaces

rounds2['key'] = rounds2.company_permalink.str.strip()
rounds2['key'] = rounds2.key.str.lower()
companies['key'] = companies.permalink.str.strip()
companies['key'] = companies.key.str.lower()

In [29]:
#counting the number of unique company names in round2 dataset

rounds2.key.nunique()

66370

In [30]:
#counting the number of unique company names in companies dataset

companies.key.nunique()

66368

In [31]:
# data present in round2, not in companies
round2_not_in_companies = rounds2[~(rounds2['key'].isin(companies['key']))]

#details of them
round2_not_in_companies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 29597 to 113839
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company_permalink        7 non-null      object
 1   funding_round_permalink  7 non-null      object
 2   funding_round_type       7 non-null      object
 3   funding_round_code       1 non-null      object
 4   funded_at                7 non-null      object
 5   raised_amount_usd        1 non-null      float64
 6   key                      7 non-null      object
dtypes: float64(1), object(6)
memory usage: 448.0+ bytes

In [32]:
round2_not_in_companies.key.nunique()

7

### Merging the 2 datasets

In [33]:
# merging both dataframes into one master dataframe
master_frame = pd.merge(rounds2, companies, on = "key",how = "outer")

In [34]:
#checking the details
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114954 entries, 0 to 114953
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   key                      114954 non-null  object
 7   permalink                114947 non-null  object
 8   name                     114946 non-null  object
 9   homepage_url             108813 non-null  object
 10  category_list            111538 non-null  object
 11  status                   114947 non-null  object
 12  country_code             106271 non-null  object
 13  state_code               104003 non-null  object
 14  region                   104782 non-null  object
 15  city                     104785 non-null  object
 16  founded_at               94426 non-null   object
dtypes: float64(1), object(16)
memory usage: 14.9+ MB

In [35]:
master_frame.key.nunique()

66375

# Analysing Funding types

In [36]:
# getting all unique funding types
master_frame.funding_round_type.unique()

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance', nan], dtype=object)

In [37]:
# calculating most representative value of the investment amount using "Mediam"
master_frame.loc[master_frame['funding_round_type']=='seed']['raised_amount_usd'].median()

275000.0

In [49]:
master_frame.loc[master_frame['funding_round_type']=='angel']['raised_amount_usd'].median()

400000.0

In [50]:
master_frame.loc[master_frame['funding_round_type'] == 'venture']['raised_amount_usd'].median()

5000000.0

In [51]:
master_frame.loc[master_frame['funding_round_type']=='private_equity']['raised_amount_usd'].median()

20000000.0

In [40]:
master_frame.dtypes

company_permalink           object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
key                         object
permalink                   object
name                        object
homepage_url                object
category_list               object
status                      object
country_code                object
state_code                  object
region                      object
city                        object
founded_at                  object
dtype: object

In [60]:
master_frame[["funding_round_type", "raised_amount_usd"]].groupby('funding_round_type').agg(['median']).loc[['venture','angel','seed','private_equity']]

                   raised_amount_usd
                              median
funding_round_type
venture                    5000000.0
angel                       400000.0
seed                        275000.0
private_equity            20000000.0

In [ ]:
# dataframe for venture type investment
venture_frame = master_frame.loc[master_frame['funding_round_type'] == 'venture']

In [ ]:
print(venture_frame.info())
venture_frame.key.nunique()

In [ ]:
venture_frame.country_code.nunique()

In [ ]:
# sorting values as per the amount raised

venture_frame.sort_values(['raised_amount_usd'], ascending= False, inplace=True)

In [ ]:
venture_frame['primary_sector']=venture_frame['category_list'].apply(lambda x:np.nan if x is np.nan else x.split('|')[0])

# Country analysis

In [ ]:
#data frame with the top nine countries (based on the total investment amount each country has received)
top9= pd.DataFrame(venture_frame.groupby(venture_frame['country_code']).raised_amount_usd.agg(['sum', 'count']).rename(columns={'sum': 'Raised_amount', 'count':'Raised_count'}).sort_values(by='Raised_amount', ascending=False).nlargest(9,'Raised_amount'))

In [ ]:
top9

In [ ]:
rows = ['USA', 'GBR', 'IND']
cols = ['Raised_amount','Raised_count']
top9.loc[rows, cols]

### Sector analysis 1

In [ ]:
mapping = pd.read_csv("mapping.csv", encoding='ISO-8859-1')

In [ ]:
mapping.info()

In [ ]:
#Using the mapping file 'mapping.csv', we map each primary sector to one of the eight main sectors 
# Find all the main-sectors in a list
mapping_column_list = list(mapping.columns.values)
mapping_column_list = mapping_column_list[1:]

In [ ]:
mapping_column_list

In [ ]:
# removing null values
mapping['main_sector'] = np.nan

In [ ]:
for col in mapping_column_list:
    mapping.loc[mapping[col] == 1,'main_sector']=col

In [ ]:
mapping.head()