In [1]:
#import required libraries
import pandas as pd
import numpy as np

# Data cleaning

In [4]:
#read data available from companies
companies = pd.read_csv("companies.csv", encoding='ISO-8859-1')
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [7]:
# Information about features of the dataset available
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [10]:
# reading data from second file; creation of dataframe
rounds2 = pd.read_csv("rounds2.csv", encoding='ISO-8859-1')
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [11]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [12]:
# Converting the Permalink to lowercase in both dataframes in order to check the unique count of companies -> strip the spaces

rounds2['key'] = rounds2.company_permalink.str.strip()
rounds2['key'] = rounds2.key.str.lower()
companies['key'] = companies.permalink.str.strip()
companies['key'] = companies.key.str.lower()

In [15]:
#counting the number of unique company names in round2 dataset

rounds2.key.nunique()

66370

In [16]:
#counting the number of unique company names in companies dataset

companies.key.nunique()

66368

In [18]:
# data present in round2, not in companies
round2_not_in_companies = rounds2[~(rounds2['key'].isin(companies['key']))]

#details of them
round2_not_in_companies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 29597 to 113839
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company_permalink        7 non-null      object
 1   funding_round_permalink  7 non-null      object
 2   funding_round_type       7 non-null      object
 3   funding_round_code       1 non-null      object
 4   funded_at                7 non-null      object
 5   raised_amount_usd        1 non-null      float64
 6   key                      7 non-null      object
dtypes: float64(1), object(6)
memory usage: 448.0+ bytes

In [19]:
round2_not_in_companies.key.nunique()

7